body {
    font-family: sans-serif;
}       /*
#logo{
    margin-left: 1.5%;
    margin-right: 2%;
    width: 3%;
}*/
h1{
    margin-top: 43%;
}
#ab{
    margin-top: -1%;
}
#color{
    color:#ff6233;
    font-size: 18px;
}
#orange {
    border:1.5px solid lightgrey; 
    border-radius: 1.5%;
    margin-left: 40px;
    text-align: center;
    padding: 1%;
    width: 27%;
    height: 230%;
    float: left;
}        
#grapes {
    border: 1.5px solid lightgray; 
    border-radius: 1.5%;
    text-align: center;
    padding: 1%;
    width: 27%;
    height: 230%;
    margin-left: 3%;
}        
#guava {
    border:1.5px solid lightgray; 
    border-radius: 1.5%;
    text-align: center;
    padding: 1%;
    width: 27%;
    height: 230%;
    float:right ;
    margin-right: 40px;
}
 
#stree{
    padding-top: 1.5%;
    padding-left: 2%;
    position: relative;
    float: right;
    height: 490px;
}
div{
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 2.5%;
    
}
#image{
    width: 20%;
}

#b{
    text-decoration-line:none;
    color: black;
    
}
#c{
    text-decoration-line:none;
    color: black;
    
}
#d{
    text-decoration-line:none;
    color: white;
    background-color: #ff6233;
    padding: 1% 1%;
    border: none;
    cursor: pointer;
}
#search{
    width: 3%;
}
ul{
    list-style-type:none;
    text-align: center; 
    float: right;
    display: block;
}
li{
    display: inline;
    margin: 0px 26px 0px ;
}
#dish{
    width: 40%;
    float:right;
    display: inline;
    margin: 0px 50px;
}
h3{
    font-size: 350%;
    font-weight:790;
}
#intro{
    margin-right: 62%;
}
#shop{
    background-color: #ff6233;
    padding: 0.8% 1.5%;
    color: white;
    border-style: none;
    cursor: pointer;
}
#Button{
    background-color: black;
    color: white;
    padding: 0.8% 1.5%;
    border-style: none;
    margin-left: 0.5%;
    cursor: pointer;
}
#bc{
    margin-top: -2%;
    letter-spacing: 0.1px;
}
#para{
    font-size: 20pt;
    font-weight: -10;
    margin-top:5%;
}
#button{
    background-color: black;
    color: white;
    padding: 0.8% 2%;
    border-style: none;
    margin-left: 0%;
    cursor: pointer;
}
#input{
    border-bottom: 1px solid black;
    width: 50%;
}
#inputs{
    border: none;
    font-size: 100%;
    color: darkgray;
}
#input1{
    border-bottom: 1px solid black;
    width: 50%;
    margin-top: 3%;
}
#Send{
    background-color: #ff6233;
    padding: 0.6% 2.5%;
    color: white;
    border-style: none;
    cursor: pointer;
    margin-top: 2%;
}
#parent{
    margin-left: 2%;
}
table{
    margin-top: 12%;
    margin-left: 2%;
}
#td1{
    width: 300px;
    padding-bottom: 0.8%;
}
td{
    width: 300px;
}
#sub{
    width: 60%;
    height: 20px;
}
#sub button{
    background-color: #ff6233;
    padding: 0.6% 2.5%;
    color: white;
    border-style: none;
    cursor: pointer;
    margin-top: 2%;   
    height: 5px;
    width: 100px;
}